<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    RewriteEngine On

    # 🔒 Force HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect old index.php URLs to clean URLs
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php(/[^\s]*)\s [NC]
    RewriteRule ^index\.php/(.*)$ /$1 [R=301,L]

    # Redirect Trailing Slashes If Not A Folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
